<h1>Account Management</h1><br>
<h2>Welcome back!</h2><br>
<p>You're logged in</p><br>
<a title="Edit Account" href="account/edit-account">Edit Account Information</a><br>
<h2>Inventory Management</h2><br>
<a title="Manage Inventory" href="inventory/management">Manage Inventory</a>
<script src="/js/script.js"></script>