<% if (errors) { %>
  <ul class="notice">
 <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2>Success! You have been logged in!</h2>
<p>Register for a new account: <a title="Sign Up" href="/account/register">Sign Up</a></p>
