<!DOCTYPE html>
<html lang="en">
<body>
    <form>
        <label for="email">Email: </label>
        <input type="text" id="email"><br>
        <label for="password">Password: </label>
        <input type="password" id="password"><br>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>