<% if (errors) { %>
    <ul class="notice">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<h1>Add New Classification</h1>
<form action="/inv/management" method="post">
    <label for="classifcationList">Classification</label><br>
    <select>
      <option value="Custom"></option>
      <option value="Sedan"></option>
      <option value="Sports"></option>
      <option value="SUV"></option>
      <option value="Truck"></option>
    </select>

    <label for="invMake">Vehicle Name</label>
    <input type="text" pattern="^[a-zA-Z0-9]+$" required minlength="3" placeholder="Min of 3 characters"<% if(locals.inv_make) { %>value="<%= locals.inv_make %>"<% } %>>

    <label for="invModel">Vehicle Model</label>
    <input type="text"pattern="^[a-zA-Z0-9]+$" required minlength="3" placeholder="Min of 3 characters"<% if(locals.inv_model) { %> value = "<%= locals.inv_model %>"<% } %>>
    
    <input type="submit" name="submit" value="Update Classification">
</form>
