<h1>Add New Classification</h1>
<form class="class-form">
    <p>Field is Required</p><br>
    <label for="class-name">Classification Name</label><br>
    <label for="requirement">Name must be alphabetic characters only!</label>
    <input type="text" id="invMake" name="inv_make" pattern="^[a-zA-Z0-9]+$">
    <a href="/inventory/management">Add Classification</a>
</form>