<h1>Add New Vehicle</h1>
<form class="class-form">
    <p>Field is Required</p><br>
    <label for="classifcation">Classification</label><br>
    <select name="classification" id="class">
        <option value="custom">Custom</option>
        <option value="sedan">Sedan</option>
        <option value="sports">Sports</option>
        <option value="suv">SUV</option>
        <option value="truck">Truck</option>
    </select>
    <label for="desc">Description</label><br>
    <textarea id="invMake" name="inv_make" rows="5" cols="50"></textarea>
    <label for="requirement">Name must be alphabetic characters only!</label>
    <input type="text" id="invMake" name="inv_make" pattern="^[a-zA-Z0-9]+$">
    <label for="price">Price</label>
    <input type="number" value="4-digit year" pattern="^\d*(\.\d{0,2})?$">
    <label for="miles">Miles</label>
    <input type="number" id="invMake" name="inv_make" value="digits only">
    <label for="color">Color</label>
    <input type="text" id="invMake" name="inv_make">
    <a href="/inventory/management">Add Vehicle</a>
</form>